### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

.idea/
res/
recompiler/
apk/

### Documentation ###
sfs-api-docs/build
sfs-api-docs/source/commands/startup

credentials.txt
data.txt
data.json
data/
!src/**
cache/
misc/java-info-gen/input/
misc/java-info-gen/output/
misc/text-asset-decoder/output/
resources/
msm_cache/